#carousel-example-generic {
  height: 240px;
  overflow: hidden;
}
#content {
  margin-top: 0;
}
#content .article {
  padding: 15px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
}
#content .article:hover {
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease;
}
#content .article .media-body {
  position: relative;
  height: 90px;
}
#content .article .media-body .article-info {
  position: absolute;
  width: 100%;
  bottom: 0;
}
#content .article .media-body .article-info .fa {
  color: #999;
  margin-right: 6px;
}
