<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout"
>
<head>
    <title>向然的博客</title>
    <link rel="stylesheet" href="/static/css/index.css"/>
</head>
<body>
<div layout:fragment="content">
    <div id="templatemo_content_wrapper">

        <div id="templatemo_content">

            <div id="templatemo_popular_posts">

                <div id="slideshow">
                    <div id="slidesContainer">
                        <div class="slide"> <a href="#"> <img src="/static/images/templatemo_image_06.jpg" alt="Image Title" width="380" height="190" />
                            <h2>Lorem ipsum dolor sit</h2>
                            <p>Vivamus vitae nibh eu sem malesuada rutrum et sit amet magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent aliquam velit a magna sodales quis elementum ipsum auctor. Ut at metus leo, et dictum sem.</p>
                        </a> </div>
                        <div class="slide"> <a href="#"> <img src="/static/images/templatemo_image_04.jpg" alt="Image Title" width="380" height="190" />
                            <h2>Mauris aliquam ultrices lacus</h2>
                            <p>Aenean fringilla vehicula felis, eu blandit tortor aliquam et. Nunc sed diam sed dui iaculis pharetra eu sed elit. Nunc arcu sapien, pellentesque at posuere nec, tincidunt dignissim enim. Ut sem mauris, aliquet ut sagittis vitae, condimentum eget augue. Donec sapien neque, egestas vitae auctor quis, pellentesque at augue.</p>
                        </a> </div>
                        <div class="slide"> <a href="#"> <img src="/static/images/templatemo_image_05.jpg" alt="Image Title" width="380" height="190" />
                            <h2>Nullam pharetra adipiscing diam</h2>
                            <p>Praesent at dui augue. Proin consectetur elementum sem, in blandit urna porta sed. Sed tortor ipsum, scelerisque vel lobortis aliquam, bibendum sit amet neque. In id erat in quam bibendum lacinia. Curabitur imperdiet viverra scelerisque. Phasellus quis egestas risus.</p>
                        </a> </div>
                        <div class="slide"> <a href="#"> <img src="/static/images/templatemo_image_03.jpg" alt="Image Title" width="380" height="190" />
                            <h2>Pellentesque ut iaculis enim</h2>
                            <p>Sed id tortor vitae nisi consectetur tempus. Pellentesque tellus est, adipiscing id porttitor vitae, vestibulum id neque. Aliquam tellus dui, vehicula sed placerat sed, scelerisque ultricies tortor. Donec ornare blandit erat pellentesque molestie. Suspendisse potenti. </p>
                        </a> </div>
                    </div>
                </div> <!-- end of slide show -->

            </div> <!-- end of templatemo_popular_posts -->

            <div id="templatemo_main_content_outter">

                <div id="templatemo_main_content_inner">

                    <div id="templatemo_main_column">

                        <div class="post_section">
                            <h2>Aliquam lorem ante dapibus</h2>
                            <div class="post_info">
                                May 26th in <a href="http://www.cssmoban.com" target="_parent">Web Templates</a> by <a href="http://www.cssmoban.com" target="_parent">网页模板</a>
                            </div>

                            <div class="post_content">
                                <img src="/static/images/templatemo_image_01.jpg" alt="image" />
                                <p>This web template is provided by <a href="http://www.cssmoban.com" target="_parent">网页模板</a> for free of charge. You may download, edit and apply this template for your websites. Credit goes to <a href="http://www.smashingmagazine.com" target="_blank">Smashing Magazine</a> for icons used in this template. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend ornare ipsum, eu tincidunt nunc pulvinar tincidunt. Integer vel erat purus, quis pulvinar metus.</p>

                                <div class="link_button"><a href="#">Continue reading...</a> | <a href="#">Comments (120)</a></div>
                            </div>

                        </div> <!-- end of a post -->

                        <div class="post_section">
                            <h2>Donec dapibus tincidunt nulla</h2>
                            <div class="post_info">
                                May 24th in <a href="http://www.cssmoban.com" target="_parent">Web Templates</a> by <a href="http://www.cssmoban.com" target="_parent">网页模板</a>
                            </div>

                            <div class="post_content">
                                <img src="/static/images/templatemo_image_02.jpg" alt="image" />
                                <p>Maecenas nec est risus, commodo blandit sapien. Pellentesque laoreet tempus justo et euismod. Donec in tortor vitae elit mattis tincidunt. Donec non ipsum nibh, ultrices molestie dui. Suspendisse magna ligula, laoreet vulputate accumsan tincidunt, sodales molestie est. Cras nec dui quis ipsum blandit aliquet. Fusce nec ultricies sem. Fusce in elit id nisl tempus luctus ac nec augue.</p>

                                <div class="link_button"><a href="#">Continue reading...</a> | <a href="#">Comments (110)</a></div>
                            </div>

                        </div> <!-- end of a post -->

                        <div class="cleaner"></div>
                    </div>

                    <div id="templatemo_side_column_01">

                        <div class="side_column_01_section">

                            <a href="#"><img src="/static/images/templatemo_200_200_ads.jpg" alt="ads" /></a>

                        </div>

                        <div class="side_column_01_section">
                            <h3>Another  Menu</h3>
                            <ul class="side_menu">
                                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                                <li><a href="#">Nunc quis sem nec tellus</a></li>
                                <li><a href="#">Pellentesque vitae magna</a></li>
                                <li><a href="#">Aenean vulputate</a></li>

                                <li><a href="#">Duis pulvinar scelerisque</a></li>
                                <li><a href="#">Quisque gravida faucibus</a></li>
                                <li><a href="#">Donec iaculis felis id neque</a></li>
                                <li><a href="#">Vivamus sagittis varius lorem</a></li>
                            </ul>

                        </div>

                        <div class="side_column_01_section">

                            <h3>Recent Posts</h3>
                            <div class="recent_post">
                                <h4><a href="#">Sed metus nisl, placerat vitae iaculis in</a></h4>
                                Aliquam nec est quis felis venenatis imperdiet. Duis placerat luctus sem.
                            </div>

                            <div class="recent_post">
                                <h4><a href="#">Donec molestie aliquet nisi eu facilisis</a></h4>
                                In vitae placerat enim. Aenean elementum lectus eleifend a pellentesque lacus.</div>

                            <div class="recent_post">
                                <h4><a href="#">Proin  magna amet fermentum dignissim</a></h4>
                                Nulla gravida, lacus molestie convallis dolor sem suscipit nisl, ut pharetra.</div>

                        </div>

                        <div class="cleaner"></div>
                    </div>

                    <div class="cleaner"></div>
                </div> <!-- end of templatemo_main_content_inner -->

                <div class="cleaner"></div>
            </div> <!-- end of templatemo_main_content_outter -->

            <div id="templatemo_side_column_02">

                <div class="side_column_02_section">

                    <div class="side_column_02_section_content">

                        <div class="section_rss_twitter twitter">
                            <a href="#">FOLLOW ME <span>on twitter</span></a>
                        </div>

                        <div class="margin_bottom_20"></div>

                        <div class="section_rss_twitter rss">
                            <a href="#">SUBSCRIBE <span>rss feed</span></a>
                        </div>

                    </div>

                </div>

                <div class="side_column_02_section">

                    <h3>Partners</h3>

                    <div class="side_column_02_section_content">
                        <ul class="side_menu">
                            <li><a href="http://www.cssmoban.com" target="_blank">网站模板</a></li>
                            <li><a href="#" target="_parent">Free Flash Templates</a></li>
                            <li><a href="#/slideshow" target="_blank">Flash Photo Gallery</a></li>
                            <li><a href="#" target="_parent">Web Design Blog</a></li>
                            <li><a href="#" target="_blank">Best Flash Gallery</a></li>
                        </ul>
                    </div>

                </div>

                <div class="side_column_02_section">

                    <h3>Community Links</h3>

                    <div class="side_column_02_section_content">

                        <div class="recent_post">
                            <h4><a href="#">Sed metus nisl, placerat vitae iaculis in</a></h4>
                            Aliquam nec est quis felis venenatis imperdiet. Duis placerat luctus sem.
                        </div>

                        <div class="recent_post">
                            <h4><a href="#">Donec molestie aliquet nisi eu facilisis</a></h4>
                            In vitae placerat enim. Aenean elementum lectus eleifend a pellentesque lacus aliquet.
                        </div>

                        <div class="recent_post">
                            <h4><a href="#">Proin  magna amet fermentum dignissim</a></h4>
                            Nulla gravida, lacus molestie convallis dolor sem suscipit nisl, ut pharetra erat leo in elit.
                        </div>

                        <div class="recent_post">
                            <h4><a href="#">Sed metus nisl, placerat vitae iaculis in</a></h4>
                            Aliquam nec est quis felis venenatis imperdiet. Duis placerat luctus sem.
                        </div>

                        <div class="recent_post">
                            <h4><a href="#">Donec molestie aliquet nisi eu facilisis</a></h4>
                            In vitae placerat enim. Aenean elementum lectus eleifend a pellentesque lacus aliquet.
                        </div>

                        <div class="cleaner_h10"></div>

                        <div class="button_02 fl margin_r_10"><a href="#">Submit</a></div> <div class="button_02 fl"><a href="#">More</a></div>

                    </div>

                </div>

            </div> <!-- end of templatemo_side_column_02 -->

            <div class="cleaner"></div>
        </div> <!-- end of templatemo_content -->

        <div class="cleaner"></div>
    </div>
</div>
<script layout:fragment="bodyAssets">
    requirejs(['static/js/index.js'])
</script>

</body>
</html>